@media screen and (max-width: 900px){
  ul {
    flex-direction: column;
  }
  img{
    display: none;
  }
  div{
    display: block;
  }
  button{
    width: 20px;
  }
  
}
#div{
  background-image: url(assets/Images/Rectangle\ 37.png);
}